package-lock.json
#vuepress
docs/.vuepress/.temp
docs/.vuepress/assets
docs/.vuepress/dist
docs/.vuepress/.cache
docs/Private

# Dependency directories
node_modules/
jspm_packages/


# Yarn Integrity file
.yarn-integrity
